#gallery {
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	column-count:2;
	column-gap:15px;
	-webkit-column-count:2;
	-webkit-column-gap:15px;

}
#gallery ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#gallery ul li {
	
	
	padding-top: 7.5px;
	left: 7.5px;
	padding-bottom: 7.5px;
	display: block;
	overflow: hidden;
}
#gallery ul li img {
	
	padding: 10px;
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px #666666;
	
}